/* Base Footer Styles */
.footer {
    background-color: #111;
    color: gray;
    display: flex;
    justify-content: center;
  }
  
  .footer_container {
    width: 60%;
    margin: 0;
  }
  
  .footer_icons {
    display: flex;
    gap: 20px;
    margin: 10px 0;
    color: #fff;
  }
  
  .footer_nav {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  
  .footer_nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 7rem;
  }
  
  .footer_nav ul li {
    cursor: pointer;
  }
  
  .footer_serviceCode {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 10vw;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .footer_copyWrite {
    font-size: 12px;
    margin-bottom: 10px;
  }
  /* Media Queries */

/* Tablet View */
@media (max-width: 768px) {
  .footer_container {
    width: 80%;
  }

  .footer_nav {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }

  .footer_nav ul {
    height: auto;
  }

  .footer_serviceCode {
    width: 30vw;
  }
}

/* Mobile View */
@media (max-width: 480px) {
  .footer_container {
    width: 90%;
  }

  .footer_icons {
    justify-content: center;
    gap: 15px;
  }

  .footer_nav {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .footer_nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer_serviceCode {
    width: 50vw;
  }

  .footer_copyWrite {
    font-size: 10px;
  }
}